@font-face {    
    font-family: 'Smythe'; 
    src: url('./fonts/Smythe-Regular.ttf');
} 


*{
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Smythe';
    background-color: #f5f5f5;
}

.container {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    padding-bottom: 1em;
    margin: 5% auto;
}

/* HERO SECTION */

.hero {
    color: #fff;
    letter-spacing: 1px;
    background-image: url('./images/heroImage.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    padding: 2.5em 2.9em ;
    text-shadow: -1px -1px 0 #000;
}

h1 {
    font-size: 2.5rem;
}

.subtitle {
    font-size: 1.4rem;
    line-height: 1.6em;
}


/* MENU ITEMS */

.menu-items-container {
    padding: 1.5em 2.9em;
    
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5em 0;
    border-bottom: 1px solid #d2d2d2;
}

.item-container {
    display: flex;
    flex-direction: row;
}

.menu-item-icon {
    font-size: 70px;
    margin-right: 2rem;
}


.item,
.your-order {
    font-size: 1.75rem;
}

.ingredients {
    color: #8B8B8B;
    margin: 0.5em 0;
}

.price {
    font-size: 1.25rem;
}

.add-btn {
    font-size: 1.2rem;
    text-align: center;
    color: #3c3c3c;
    background-color: transparent;
    min-width: 50px;
    height: 50px;
    border: 1.5px solid #dedede;
    border-radius: 50%;
    margin-left: 0.1em;
    cursor: pointer;
}

.add-btn:hover,
.add-btn:focus {
    background-color: #dedede;
}


/* ORDER SUMMARY */
.order-summary {
    padding: 2rem 2.9rem;
}

.your-order {
    text-align: center;
    margin-bottom: 2rem;
}

.ordered-item-container,
.total-price-container {
    font-size: 1.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ordered-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 0;
}

.remove-btn {
    color: #bbb;
    background-color: transparent;
    border: none;
    margin-left: 0.7em;
    cursor: pointer;
}

.remove-btn:hover, 
.remove-btn:focus {
    color: #8B8B8B;
    text-decoration: underline;
}

.ordered-item-price,
.total-price {
    font-size: 1.25rem;
}

.divider {
    border-bottom: 2px solid #393333;
    margin: 1.5em 0;
}

.complete-order-btn,
.pay-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: #16DB99;
    width: 100%;
    border: none;
    border-radius: 0.2rem;
    padding: 1.2em 0;
    margin: 3em 0;
    cursor: pointer;
}

.complete-order-btn:hover,
.complete-order-btn:focus,
.pay-btn:hover,
.pay-btn:focus {
    background-color: #11b67f;
}


/* PAYMENT MODAL */
.payment-modal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    background-color: white;
    width: 90%;
    max-width: 525px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.6em 1.2em;
    filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
    border-radius: 0.2rem;
}

.cancel-btn {
    font-size: 1.5rem;
    position: absolute;
    right: 1em;
    top: .5em;
    padding: 0.5em;
    cursor: pointer;
}

.cancel-btn:hover,
.cancel-btn:focus {
    color: #065F46;
}

.payment-modal-title {
    font-weight: 700;
    font-size: 1.5rem;
    font-weight: 700;
    margin:1em 0 2em 0;
}

.payment-input {
    font-family: inherit;
    font-size: 1.25rem;
    width: 100%;
    padding: 1em;
    margin-bottom: 1.4em;
    border: 1.3px solid #757575;
    border-radius: 0.2rem;

}

.payment-input::-webkit-outer-spin-button,
.payment-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.payment-input[type=number] {
    -moz-appearance: textfield;
  }

  .pay-btn {
    font-size: 1.25rem;
    margin: 1em 0 0 0;
  }

/* PURCHASE COMPLETE */
.purchase-complete {
    font-size: 2rem;
    text-align: center;
    color: #065F46;
    background-color: #ECFDF5;
    padding: 1.5em 0;
    margin: 0.5em 1.2em;
}


/* TO TOGGLE */
.hidden {
    display: none;
  }